<div class="header">
  <!--logo monde + nom-->
  <div>
    <span class="logo"> <img [attr.src]="server+world.logo" /> </span>
    <!--<span id="worldname"> {{world.name}} </span>-->
  </div>
  <!--quantité d'argent-->
  <div> <span id="worldmoney" [innerHTML]="world.money | bigvalue"> {{world.money}} </span> </div>
  <!--id joueur-->
  <div> <input type="text" [(ngModel)]="username" (change)="onUsernameChange()"/> </div>
  <!--multiplicateurs-->
  <!--<div> <span id="worldangelbonus"> {{world.angelbonus}} </span> </div>-->
  <div>
    <button class="bouton" (click)="modifqtachat()">{{qtmulti}}</button>
  </div>
</div>
<div class="main">
  <div>
    <p>liste des boutons de menu </p>
    <button class="managerbutton" mat-raised-button color="primary" [matBadge]="badgeManagers"
      [matBadgeHidden]="badgeManagers==0" (click)="showManagers = !showManagers">Managers</button>
  </div>

  <!--******************************MANAGERS-->
  <div *ngIf="showManagers" class="modal">
    <div>
      <h1 class="title">Managers make you feel better !</h1>
    </div>
    <div>
      <div *ngFor="let manager of world.managers.pallier">
        <div *ngIf="!manager.unlocked" class="managerslayout">
          <div>
            <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
          </div>
          <div>
            <div class="managername"> {{ manager.name}} </div>
            <div class="managercible"> {{ world.products.product[manager.idcible-1].name }} </div>
            <div class="managercost"> {{ manager.seuil}} </div>
          </div>
          <div>
            <button class="hirebutton" (click)="hireManager(manager)"
              [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Engager</button>
          </div>
        </div>
      </div>
      <button class="closebutton" mat-raisedbutton color="primary" (click)="showManagers = !showManagers">Close</button>
    </div>
  </div>
  <!--******************************PRODUITS-->
  <div class="product">
    <!--produit 1-->
    <div>
      <app-product [prod]="world.products.product[0]" class="product col-md-6"
        (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti"></app-product>
    </div>
    <!--produit 2-->
    <div>
      <app-product [prod]="world.products.product[1]" class="product col-md-6"
        (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti"></app-product>
    </div>
    <!--produit 3-->
    <div>
      <app-product [prod]="world.products.product[2]" class="product col-md-6"
        (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti"></app-product>
    </div>
    <!--produit 4-->
    <div>
      <app-product [prod]="world.products.product[3]" class="product col-md-6"
        (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti"></app-product>
    </div>
    <!--produit 5-->
    <div>
      <app-product [prod]="world.products.product[4]" class="product col-md-6"
        (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti"></app-product>
    </div>
    <!--produit 6-->
    <div>
      <app-product [prod]="world.products.product[5]" class="product col-md-6"
        (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti"></app-product>
    </div>
  </div>
</div>