.header {
  display: grid;
  grid-template-columns: 25% 25% 30% 20%;
  background-color: aqua;
}
.main {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: aquamarine;
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: bisque;
}
