<div class="header">
  <!--logo monde + nom-->
  <div> 
    <span> <img [attr.src]="server+world.logo" /> </span>
    <span id="worldname"> {{world.name}} </span>
  </div>
  <!--quantité d'argent-->
  <div> <span id="worldmoney"> {{world.money}} </span> </div>
  <!--id joueur-->
  <div> player id </div>
  <!--multiplicateur-->
  <div> <span id="worldangelbonus"> {{world.angelbonus}} </span> </div>
</div>
<div class="main">
  <div> liste des boutons de menu </div>
  <div class="product">
    <div> premier produit </div>
    <div> second produit </div>
    <div> troisième produit </div>
    <div> quatrième produit </div>
    <div> cinquième produit </div>
    <div> sixième produit </div>
  </div>
</div>